<li id="<%= dom_id(quote) %>" class="quote-item">
  <article class="quote-card">
    <p class="quote-body-vertical">
      <%= simple_format(h(quote.body), {}, wrapper_tag: "span") %>
    </p>
  </article>
</li>
