<!-- 書誌情報モーダル -->
<div class="modal fade" id="bookModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">書誌情報</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="modal-cover" src="" alt="書影" class="img-fluid mb-3">
        <p><strong>タイトル:</strong> <span id="modal-title"></span></p>
        <p><strong>著者:</strong> <span id="modal-author"></span></p>
        <p><strong>出版社:</strong> <span id="modal-publisher"></span></p>
        <p><strong>出版年:</strong> <span id="modal-year"></span></p>
      </div>
    </div>
  </div>
</div>
