<!-- app/views/home/index.html.erb -->
<div class="home-page">
  <main class="home-main">

    <% if @quotes.blank? %>
      <p class="empty-message">まだ公開された一文はありません。</p>
    <% else %>
      <!-- turbo_stream 側からも参照されるリスト -->
      <ul id="quotes" class="quotes-list">
        <%= render @quotes %> <%# _quote.html.erb を使う %>
      </ul>

      <div id="pagination">
        <% if @quotes.next_page.present? %>
          <div class="d-flex justify-content-center my-4">
            <%= link_to "さらに表示",
                  root_path(page: @quotes.next_page, format: :turbo_stream),
                  class: "btn btn-outline-primary load-more-button" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </main>
</div>

<!-- Turbo Frameでモーダル内容を差し込む -->
<%= turbo_frame_tag "book_modal" %>
