<h1>Ichibun</h1>

<p>
  <%= link_to "一文を投稿する", new_quote_path %>
</p>

<hr>

<h2>公開された一文</h2>

<% if @quotes.blank? %>
  <p>まだ公開された一文はありません。</p>
<% else %>
  <ul id="quotes" style="list-style: none; padding: 0;">
    <%= render @quotes %> <%# _quote.html.erb を使う %>
  </ul>

  <div id="pagination">
    <% if @quotes.next_page.present? %>
      <div style="margin-top: 1rem; text-align: center;">
        <%= link_to "さらに表示",
                    root_path(page: @quotes.next_page, format: :turbo_stream) %>
      </div>
    <% end %>
  </div>
<% end %>

