<h1>Ichibun</h1>

<p>
  <%= link_to "一文を投稿する", new_quote_path %>
</p>

<hr>

<h2>公開された一文</h2>

<% if @quotes.blank? %>
  <p>まだ公開された一文はありません。</p>
<% else %>
  <ul style="list-style: none; padding: 0;">
    <% @quotes.each do |quote| %>
      <li style="margin-bottom: 1.5rem; border-bottom: 1px solid #eee; padding-bottom: 1rem;">
        <p><%= quote.body %></p>
      </li>
    <% end %>
  </ul>

  <div style="margin-top: 1rem;">
    <%= paginate @quotes %>
  </div>
<% end %>
