.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  max-width: 700px;
  margin: 5% auto;
  padding: 2rem;
  width: 90%;
  max-height: 80vh;
  min-height: 60vh; 
  overflow-y: auto;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  position: relative;
}
